{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login/style.css'%}">
    {% block title %}

    {% endblock title %}

</head>
<body>

    {% include 'login/layouts/partials/header.html' %}

    <main>
        {% block content %}

        {% endblock content %}
    </main>

    {% include 'login/layouts/partials/footer.html' %}
</body>
</html>