
* {
    padding: 0;
    margin: 0;   
}

body {
    display: flex;
    flex-direction: column;
}

.heading_title {
    text-align: center;
    color: white;
    background-color: green;
}
#login_div {
    margin: auto;
    padding: auto;
    background-color: aqua;
}

footer  {
    
    background-color: red;
}
